<section class="home-section container widget-card">
  <h2>{{ 'plant_care_widget'|trans }}</h2>
  <p>{{ 'plant_care_widget_desc'|trans }}</p>
  <ul>
    <li>{{ 'care_check_light'|trans }}</li>
    <li>{{ 'care_check_soil'|trans }}</li>
    <li>{{ 'care_check_humidity'|trans }}</li>
  </ul>
</section>
